$lead: hsla(0, 0%, 24%, 1);
$font: #0a3458;
$font-white: white;
$help: hsla(0, 0%, 54%, 1);
$submit-btn: hsla(183, 90%, 34%, 1);
$submit-btn-hover: hsla(183, 90%, 24%, 1);
$back-btn: hsla(0, 0%, 94%, 1);
$back-btn-hover: hsla(0, 0%, 84%, 1);
