@import "styles/colors";

.lead-text {
  font-size: 1.5em;
  color: $font;
}

.help-text {
  color: $help;
}

.white-text {
  color: $font-white;
}

.error-text {
  color: red;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  color: $font;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  color: $font;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: $font;
}

.header-label {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
}

.no-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
