.mt-half {
  margin-top: 4pt;
}

.mt1 {
  margin-top: 8pt;
}

.mt2 {
  margin-top: 16pt;
}

.mr-half {
  margin-right: 4pt;
}

.mr1 {
  margin-right: 8pt;
}

.mr2 {
  margin-right: 16pt;
}

.m2 {
  margin: 16pt;
}

.pr2 {
  padding-right: 8pt;
}
