@import "styles/Landing";
@import "styles/fonts";
@import "styles/colors";
@import "styles/buttons";
@import "styles/spacing";
@import "styles/layout";
@import "styles/utils";
@import "styles/ProfileItem";
@import "styles/Chat";
@import "styles/Login";
@import "styles/Register";
@import "styles/CreateProfile";
@import "styles/ProfileHeader";
@import "styles/ProfileAbout";
@import "styles/ProfileCreds";
@import "styles/ProfileSkills";
@import "styles/ProfileGithub";

$color_1: #bbb;
$background_color_1: rgba(0, 0, 0, 0.7);

body {
  font: $font;
  line-height: 1;
  background: hsla(0, 0%, 94%, 1);
}

.main-content {
  max-width: 1200px;
  min-height: 600px;
  margin: auto;
  background: white;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #454545;
  &:hover {
    color: #454545;
  }
}

.navbar {
  background: #f98866;
}

.landing {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.card-form {
  opacity: 0.9;
}
.latest-profiles-img {
  width: 40px;
  height: 40px;
}
.form-control {
  &::placeholder {
    color: $color_1 !important;
  }
}
